<div class="container theme-showcase" role="main">
  <div class="bs-callout bs-callout-info">
    <p class="lead">Welcome to Cloudwick's sync <code><%= @userfullname %></code></p>
  </div>

  <div class="bs-callout bs-callout-warning">
  <p class="lead">
    This project is in active development so expect to see a lot of changes. Please take a look at the following components readiness.
  </p>
  </div>

  <p class="lead"><code>Suggestions</code>: We will be happy to hear back from you on how to better build this platform. Contact either <a href="mailto:shiva@cloudwick.com?subject=Suggestion from <%= @userfullname %> about Sync.">Shiva</a> or <a href="mailto:vinay@cloudwick.com?subject=Suggestion from <%= @userfullname %> about Sync.">Vinay</a> for more information or to send suggestions.</p>

  <div class="page-header">
    <h3>Components ready</h3>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Job portal</h4>
        <p class="list-group-item-text">Management of job applications forwareded by Shiva|Vinay.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Projects Information</h4>
        <p class="list-group-item-text">Place where you could manage projects you are currently working with and previously worked on. We are looking forward to know about your usecases and better train our resources.</p>
    </a>
  </div>

  <div class="page-header">
    <h3>Components in development</h3>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">TimeSheets Management</h4>
        <p class="list-group-item-text">Portal for filling and managing your timesheets and expenses.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Cloud Servers</h4>
        <p class="list-group-item-text">Portal for creating servers (virtual machines) in openstack hosted by cloudwick.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Document Requests</h4>
        <p class="list-group-item-text">You'll be able to request the documents you need by filling out a form and able to track of current and previous requests</p>
    </a>
  </div>
</div>
