<!-- Customer add Modal -->
<div class="modal fade" id="AddCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
      </div>
      <div class="modal-body">
        <form id="AddForm" class="form-horizontal" autocomplete="off">
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="FirstName">First Name:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" value="" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="LastName">Last Name:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name" value="" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Email">Email Address:</label>
            <div class="col-md-5 col-xm-6">
              <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Company">Company:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="Company" name="Company" placeholder="Company" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="UniqueCompanyID">UniqueCompanyID:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="UniqueCompanyID" name="UniqueCompanyID" placeholder="UniqueCompanyID" value="00000" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="BusinessUnitITHead">BusinessUnitITHead:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="BusinessUnitITHead" name="BusinessUnitITHead" placeholder="BusinessUnitITHead" value="No" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Title">Title:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="Title" name="Title" placeholder="Title" value="" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="AddressLine1">Address Line1:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="AddressLine1" name="AddressLine1" placeholder="AddressLine1" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="AddressLine2">Address Line2:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="AddressLine2" name="AddressLine2" placeholder="AddressLine2" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="City">City:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="City" name="City" placeholder="City" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="State">State:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="State" name="State" placeholder="State" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Zip">Zip:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="Zip" name="Zip" placeholder="Zip" value="00000" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Phone">Phone:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Ext">Ext:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="Ext" name="Ext" placeholder="Ext" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Fax">Fax:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="Fax" name="Fax" placeholder="Fax" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Industry">Industry:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="Industry" name="Industry" placeholder="Industry" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="ITBudgetM">ITBudgetM:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="ITBudgetM" name="ITBudgetM" placeholder="ITBudgetM" value="0.00" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Fax">ITEmployees:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="ITEmployees" name="ITEmployees" placeholder="ITEmployees" value="0" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="RevenueB">RevenueB:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="RevenueB" name="RevenueB" placeholder="RevenueB" value="0.00" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Fax">FiscalYearEnd:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="FiscalYearEnd" name="FiscalYearEnd" placeholder="FiscalYearEnd" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="DUNS">DUNS:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="DUNS" name="DUNS" placeholder="DUNS" value="NA" />
              <span class="help-block"></span>
            </div>
          </div>

          <p id="AddCustomerFormLabel" class="text-center"></p>
          <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-md-9">
              <button id="SubmitBtn" name="SubmitBtn" class="btn btn-large btn-primary">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- customer batch add modal -->
<div class="modal fade" id="AddCustomerFromFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Customers(s) From File</h4>
      </div>
      <div class="modal-body">
        <!-- upload file to parse and add/update customers -->
        <form id="upload" method="post" action="/customers/bulkadd" enctype="multipart/form-data">
          <input type="file" title="Select file to upload" name="file" multiple />
          <ul id="fileList"></ul>
          <input type="submit" class="btn btn-primary btn-md" value="upload!"/>
        </form>
        <br>
        <p>
          <strong>Note: </strong> Currently supports csv files and allows following headers
          ('UniqueID', 'UniqueCompanyID', 'Company', 'First Name', 'Last Name', 'Has Gatekeeper', 'Business Unit I.T. Head', 'Title', 'Address Line 1', 'Address Line 2', 'City', 'State', 'Zip', 'Country', 'Phone', 'Ext', 'Fax', 'Email', 'Industry', 'I.T. Budget($M)', 'I.T. Employees', 'Revenue($B)', 'Fiscal Year End', 'DUNS')
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div id="alert_placeholder"></div>
  <div class="page-header">
    <h2>Customers
      <p class="pull-right">
        <a id="AddNewCustomer" class="btn btn-primary btn-md" data-toggle="modal" href="#AddCustomer" role="button">Add &raquo;</a>
        <a id="AddNewCustomerBatch" class="btn btn-primary btn-md" data-toggle="modal" href="#AddCustomerFromFile" role="button">Add From File &raquo;</a>
      </p>
    </h2>
  </div>

  <div>
    <% if customers_data && customers_data.length > 1 %>
      <table id="customers" class="table table-hover display" width=100%>
      </table>
    <% else %>
    <div class="bs-callout bs-callout-info">
      <p class="lead">No customers have been added yet. Add customers using <code>'Add'</code> or <code>'Add From File'</code></p>
    </div>
    <% end %>
  </div>
</div>

<script src="/js/bootstrap.file-input.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/dataTables.tableTools.min.js"></script>

<script tpye='text/javascript'>
$(document).ready(function() {
  $('input[type=file]').bootstrapFileInput();
  $('.file-inputs').bootstrapFileInput();

  <% if customers_data && customers_data.length > 1 %>
    var dataSet = <%= customers_data %>;
    $('#customers').DataTable({
      data: dataSet,
      columns: [
        { "title": "First Name" },
        { "title": "Last Name" },
        { "title": "Company" },
        { "title": "Phone" },
        { "title": "Industry" }
      ],
      deferRender: true,
      processing: true
    });
  <% end %>

  // bootstrap_alert = function() {}
  // bootstrap_alert.warning = function(message) {
  //   $('#alert_placeholder').html('<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>');
  // }
  // bootstrap_alert.success = function(message) {
  //   $('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>');
  // }
  // bootstrap_alert.error = function(message) {
  //   $('#alert_placeholder').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>');
  // }
  //
  // function getSelected() {
  //   var returnArray = new Array();
  //   var rows = table.rows('.info').data();
  //   for (var i=0; i < rows.length; i++) {
  //     returnArray.push(rows[i][0]);
  //   }
  //   return returnArray;
  // };
  //
  // $('#customers tbody').on('click', 'tr', function() {
  //    $(this).toggleClass('info');
  // });
  //
  // $('#AddCustomersToGroup').click(function() {
  //   var selectedRows = table.rows('.info').data().length;
  //   if ( selectedRows > 0 ) {
  //     console.log(selectedRows + ' rows selected');
  //     var updateIds = getSelected();
  //     $.ajax({
  //       type: "POST",
  //       dataType: "json",
  //       url: "/customers/group/update",
  //       data: {"ids": updateIds},
  //       success: function(data) {
  //         if(!data.success) {
  //           console.log("Error: " + data.msg)
  //           bootstrap_alert.warning(data.msg);
  //           table.draw(false);
  //         } else {
  //           console.log("Success: " + data.msg)
  //           bootstrap_alert.success(data.msg);
  //           table.draw();
  //         }
  //       },
  //       error: function(data) {
  //         bootstrap_alert.error('Something went wrong updating customers(s)!!!');
  //       }
  //     });
  //   } else {
  //     bootstrap_alert.error("select atleast one customer to update the group");
  //   }
  // });
});

// Add new Customer
$(AddNewCustomer).click(function () {
  jQuery.validator.setDefaults({
    debug: true,
    errorClass: 'has-error',
    validClass: 'has-success',
    ignore: "",
    highlight: function (element, errorClass, validClass) {
      $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
      $(element).closest('.form-group').find('.help-block').text('');
    },
    errorPlacement: function (error, element) {
      $(element).closest('.form-group').find('.help-block').text(error.text());
    },
    submitHandler: function (form) {
      return true;
    }
  });

  var firstName = $("#FirstName");
  var lastName = $("#LastName");
  var email = $("#Email");
  var team = $("#Company");
  var phone = $('#Phone');
  var form = $('#AddForm');
  var submitBtn = $('#SubmitBtn');

  form.validate();

  firstName.rules("add", {
    required: true,
    rangelength: [3, 20],
    messages: {
      required: "You must provide customers first name.",
      rangelength: "The first name must be between 3 and 20 characters in length."
    }
  });
  lastName.rules("add", {
    required: true,
    rangelength: [3, 20],
    messages: {
      required: "You must provide customers last name.",
      rangelength: "The last name must be between 3 and 20 characters in length."
    }
  });
  email.rules("add", {
    required: true,
    rangelength: [3, 50],
    messages: {
      required: "You must provide customers email address.",
      rangelength: "The email must be between 3 and 20 characters in length."
    }
  });
  team.rules("add", {
    required: true,
    rangelength: [3, 50],
    messages: {
      required: "You must provide customers company.",
      rangelength: "The company name must be between 3 and 50 characters in length."
    }
  });

  form.submit(function () {
    console.log("Submitting data");
    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/customer/new",
      data: form.serialize(),
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg)
          $('#AddCustomerFormLabel').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg)
          $('#AddCustomerFormLabel').addClass('text-info').html(data.msg);
          $('#AddCustomer').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        $('#AddCustomerFormLabel').addClass('text-danger').html('Something went wrong adding customer!!!');
      }
    });
  });
});
</script>
