<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Request Documents</h2>
  </div>
  <div class="bs-callout bs-callout-info">
    <p class="lead">A request has been sent to the admin. Once it got approved
      you will recieve the docuemnts in mail. Email address provided is
      <%= email %></p>
  </div>
</div>
