<div class="container theme-showcase" role="main">
  <h2>Welcome to cloudwick's Sync</h2>
  <% if @username %>
    <hr/>
    <h4>Nothing to follow-up. You might want to take a look at <a href="/jobs">job postings</a></h4>
  <% else %>
    <p>Login to continue.</p>
  <% end %>
</div>
