<!DOCTYPE html>
<html>
	<head>
		<title>Cloudwick</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
		<!-- x-editable -->
		<link href="/css/bootstrap-editable.css" rel="stylesheet"/>
		<!-- select2 -->
		<link href="/css/select2.css" rel="stylesheet"/>
		<!-- <link href="/css/badge_formatting.css" rel="stylesheet"> -->
		<!-- Booststrap validator -->
    <link href="/css/bootstrapValidator.css" rel="stylesheet"/>
		<link href="/css/summernote.css" rel="stylesheet"/>
		<link href="/css/summernote-bs3.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">

		<style>
			html {
				position: relative;
				min-height: 100%;
			}

	    body {
	    	padding-top: 60px; /* When using the navbar-top-fixed */
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 50px;
	    }

			#footer {
				position: absolute;
				bottom: 0px;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 50px;
				background-color: #f5f5f5;
			}

			.container .text-muted {
				margin: 20px 0;
			}

	    .center {
		     float: none;
		     margin-left: auto;
		     margin-right: auto;
	    }

	    .centercontents {
	    	text-align: center !important;
	    }

	    .alignrightcontents {
	    	text-align: right !important;
	    }

			.modal-wide .modal-dialog {
  			width: 80%; /* or whatever you wish */
			}
		</style>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Updated JQuery -->
		<script src="/js/jquery-2.0.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/js/bootstrap.min.js"></script>
		<!-- x-editable -->
		<script src="/js/bootstrap-editable.js"></script>
		<!-- JQuery Validator -->
		<script src="/js/jquery.validate.min.js"></script>
		<!-- Select2 -->
    <script src="/js/select2.js"></script>
    <!-- Bootstrap Paginator -->
    <script src="/js/bootstrap-paginator.min.js"></script>
		<script src="/js/summernote.min.js"></script>
	</head>
	<body>
	  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container-fluid">
	      <a class="navbar-brand" href="/">Cloudwick Job Portal</a>
	      <div class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
	          <li><a href="/jobs">Jobs</a></li>
	          <li><a href="/consultants">Consultants</a></li>
						<li><a href="/vendors">Vendors</a></li>
						<li><a href="/campaign">Campaign</a></li>
	        </ul>
					<ul class="nav navbar-nav pull-right">
						<form action="/search" method="post" class="navbar-form navbar-left" role="search">
  						<% if @admin_user %>
							<div class="form-group">
								<input type="text" class="form-control" name="search" id="search" placeholder="Search for job details">
							</div>
  						<input type="submit" class="btn btn-info btn-small" value="Submit"/>
  						<% else %>
							<div class="form-group">
								<input type="text" class="form-control" name="search" id="search" placeholder="Only for admin only">
							</div>
  						<input type="submit" class="btn btn-info btn-small" disabled="disabled" value="Submit"/>
  						<% end %>
						</form>
						<% if @username %>
						<li><p class="navbar-text"><%= @username %> | <a href='/logout' class="navbar-link">logout</a></li>
						<% else %>
						<li><a href="/login" class="navbar-link">signin</a></li>
						<% end %>
					</ul>
		    </div><!-- /.container -->
	  	</div><!-- /.navbar-inner -->
		</div><!-- /.navbar -->

		<% if flash %>
		<%= styled_flash %>
		<% end %>

		<%= yield %>

		<div id="footer">
      <div class="container">
        <p class="text-muted">® 2014 Cloudwick Inc.</p>
      </div>
    </div>

<!-- 	<footer class="footer">Ashrih ® Cloudwick Inc 2014</footer> -->
  </body>
</html>
