<div class="container theme-showcase" role="main">
  <div class="row">
    <% if login_error == 'cloudwick_email' %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Oh snap!</strong> Dude you have to use cloudwick email to login.
    </div>
    <% end %>
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <br />

      <a href="/auth/google_oauth2" class="btn btn-block btn-social btn-lg btn-google-plus">
        <i class="fa fa-google-plus"></i> Sign in with Cloudwick's Google Account
      </a>

      <br />
        <!-- <form action="/login" method="post" class="form-horizontal" role="form"> -->
          <!-- <% if login_error == 'Invalid Login' %>
          <div class="form-group has-error">
          <% else %>
          <div class="form-group">
          <% end %>
            <br>
            <label class="col-sm-2 col-sm-offset-1 control-label" for="username">Username</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" name="username" id="username" placeholder="Email">
            </div>
          </div>
          <% if login_error == 'Invalid Login' %>
          <div class="form-group has-error">
          <% else %>
          <div class="form-group">
          <% end %>
            <label class="col-sm-2 col-sm-offset-1 control-label" for="password">Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
            <hr>
            <p class="text-info col-sm-offset-3 col-sm-10">
              Need an account <a href="/signup">signup</a>
            </p>
          </div>
        </form>

        <% if login_error == 'Invalid Login' %>
        <p class="text-danger text-center">Login failed for the specified credentials.</p>
        <% end %> -->
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
