<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Signup</h3>
        </div>
        <form action="/signup" method="post" class="form-horizontal" role="form">
          <% if @errors && @errors['username_error'] %>
          <div class="form-group has-error">
          <% else %>
          <div class="form-group">
          <% end %>
            <p></p>
            <label class="col-sm-2 control-label" for="username">Username</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" name="username" id="username" placeholder="Email">
            </div>
          </div>
          <% if @errors && @errors['password_error'] %>
          <div class="form-group has-error">
          <% else %>
          <div class="form-group">
          <% end %>
            <label class="col-sm-2 control-label" for="password">Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
          </div>
          <% if @errors && @errors['verify_error'] %>
          <div class="form-group has-error">
          <% else %>
          <div class="form-group">
          <% end %>
            <label class="col-sm-2 control-label" for="password">Verify</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="verify" id="verify" placeholder="Verify Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            <hr>
            <p class="text-info col-sm-offset-2 col-sm-10">
              Already have an account <a href="/login">login</a>
            </p>
          </div>
        </form>
        <!-- show errors if any -->
        <% if @errors && !@errors.empty? %>
        <ul>
          <% @errors.each do |error| %>
          <% unless error[1].empty? %>
          <li class="text-danger"><%= error[0] + " -> " + error[1] %></li>
          <% end %>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
