<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Job Posting <small>Hadoop Architect</small></h2>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <div class="jumbotron">
        <p>File uploader</p>
        <form method="post" action="/upload/resume" enctype="multipart/form-data">
          <input type="file" name="file"/>
          <br>
          <input type="submit" value="upload!"/>
        </form>
      </div>
    </div>
  </div>
</div>
