<!-- Admin timestamps -->
<div class="container theme-showcase" role="main">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#timesheets"> TimeSheets</a></li>
    <li><a data-toggle="tab" href="#projects"> Projects</a></li>
    <li><a data-toggle="tab" href="#reports"> Reports</a></li>
    <li><a data-toggle="tab" href="#manage"><i class="fa fa-pencil"></i> Manage</a></li>
  </ul>

  <br/>

  <div class="tab-content">
    <div id="timesheets" class="tab-pane active">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#time"><i class="fa fa-clock-o"></i> Track Time</a></li>
        <li><a data-toggle="tab" href="#expenses"> Expenses</a></li>
        <li><a data-toggle="tab" href="#pendingapproval"> Pending Approval</a></li>
        <li><a data-toggle="tab" href="#archives"><i class="fa fa-archive"></i> Archives</a></li>
      </ul>
      <br/>
      <div class="tab-content">
        <div id="time" class="tab-pane active">
        </div>
        <div id="expenses" class="tab-pane">
        </div>
        <div id="pendingapproval" class="tab-pane">
        </div>
        <div id="archives" class="tab-pane">
        </div>
      </div>
    </div>
    <div id="projects" class="tab-pane active">
    </div>
    <div id="reports" class="tab-pane">
    </div>
    <div id="manage" class="tab-pane">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#vendors"> Vendors</a></li>
        <li><a data-toggle="tab" href="#clients"> Clients</a></li>
        <li><a data-toggle="tab" href="#expensecategories"> Expense Categories</a></li>
      </ul>
      <br/>
      <div class="tab-content">
        <div id="vendors" class="tab-pane active">
          <div class="page-header">
            <h4>
              Vendors
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Add Vendor</span>
                </button>
              </div>
            </h4>
          </div>
          <div class="panel panel-primary">
            <ul class="list-group">
              <% if vendors.empty? %>
                <li class="list-group-item"><span>No vendors added yet!</span></li>
              <% else %>
                <% vendors.each do |vendor| %>
                <li class="list-group-item"><span>vendor</span></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        </div>
        <div id="clients" class="tab-pane">

        </div>
        <div id="expensecategories" class="tab-pane">

        </div>
      </div>
    </div>
  </div> <!-- Main tab contents -->
</div> <!-- Main Container -->
