<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Training Portal</h2>
  </div>
  <div>
    <h3>Looks like you are not assigned to a team. Please contact <a href="mailto:syncadmin@cloudwick.com?Subject=Trainee%20Portal%20Access">admin</a> to assign you to a team as well as to a track for accessing relevant training content.</h3>
  </div>
</div>