<div class="container theme-showcase" role="main">
  <div class="bs-callout bs-callout-info">
    <p class="lead">
      No role has yet been assigned to you by the admin. Please contact
      <a href="mailto:syncadmin@cloudwick.com?subject=Role Creation">Admin</a>
    </p>
  </div>
</div>