<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Training Portal</h2>
  </div>
  <div>
    <h3>Looks like you are not yet assigned to a topic yet. Please contact <a href="mailto:syncadmin@cloudwick.com?Subject=Trainer%20Portal%20Access">admin</a> to assign you to a team as well as to a training topic. Sorry for the inconvenience.</h3>
  </div>
</div>