<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2><a href="/training">Training Portal</a> <small> > <%= track.code %> > <%= topic.code %> > Sub Topics</small>
    </h2>
  </div>
  <div>
    <h3>Looks like you have not completed the previous sections of this track. You have to complete at least 80% of the previous topics to gain access to this topic. Please contact <a href="mailto:syncadmin@cloudwick.com?Subject=Trainee%20Topic%20Access">admin</a> if you want access to this track and its contents.</h3>
  </div>
</div>