<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2><a href="/training">Training Portal</a> > <%= track.code %> > Topics
    </h2>
  </div>
  <div>
    <h3>Looks like you are not assigned to this track. Please contact <a href="mailto:syncadmin@cloudwick.com?Subject=Trainee%20Portal%20Access">admin</a> if you want access to this track and its contents.</h3>
  </div>
</div>