<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2><a href="/training">Training Portal</a> <small> > <%= track.code %> > <%= topic.code %> > Sub Topics</small>
    </h2>
  </div>
  <div>
    <h3>It seems like admin hasn't yet assigned to this topic. Please contact <a href="mailto:syncadmin@cloudwick.com?Subject=Trainee%20Topic%20Access">admin</a> if you want access to this topic and its contents.</h3>
  </div>
</div>